.section{
  height: 100vh;
  width: 100%;
}

.background--one{
  background-size: contain;

  & .block-section--one{
    
  }
}

.background--two{
  background-size: contain;

  & .block-section--one{
    & .text-block-two{}
  }
}